.container {
    margin-left: 20%;
    padding-top: 10%;
    padding-left: 27%;
    padding-bottom: 17%;
    color: #2e5dc2;
    background: rgba(1, 175, 255, 0.209);
}

// table {
//     border-collapse: collapse;
//     background: white;
//     color: black;
// }

// th,
// td {
//     font-weight: bold;
// }