<div id="projectActivityDialog" class="dialog">
  <div class="content-scroll">
    <div
      class="content-header"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <h2 class="title-content" mat-dialog-title>
        Cadastre-se agora e faça sua primeira consulta!
      </h2>
      <button mat-icon-button class="mat-icon-content" (click)="close()">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
    <div class="dialog-content">
      <mat-dialog-content>
        <button mat-button class="dialog-option">
          <div
            class="dialog-button-content"
            fxLayoutAlign="start start"
            fxLayout="column"
          >
            <div
              style="margin-top: 10px"
              fxLayout="row"
              fxLayoutAlign="center center"
            >
              <mat-icon>person</mat-icon>
              <h2>Paciente</h2>
            </div>
            <p>
              Começe a marcar suas consultas e a fazer seu tratamento no
              conforto do seu lar!
            </p>
          </div>
        </button>
        <button mat-button class="dialog-option">
          <div
            class="dialog-button-content"
            fxLayoutAlign="start start"
            fxLayout="column"
          >
            <div
              style="margin-top: 10px"
              fxLayout="row"
              fxLayoutAlign="center center"
            >
              <mat-icon>badge</mat-icon>
              <h2>Profissional</h2>
            </div>
            <p>
              Começe a fazer suas consultas e organiza-las através de nossa 
              plataforma, encontre novos pacientes e mude a vida de muitas pessoas!
            </p>
          </div>
        </button>
      </mat-dialog-content>
    </div>
  </div>
</div>
