<div class="sidebar">
    <app-sidebar></app-sidebar>
</div>
<div class="container">
    <div class="header">
        <h2>Página Inicial</h2>
    </div>
    <div class="profile">
        <div class="main" fxLayout="row">
            <div class="icon-serv">
                <img src="{{url}}" alt="">
            </div>
            <form [formGroup]="myFormGroup">
                <input type="text" formControlName="public" placeholder="Algum exercício para compartilhar?" #feedInput
                    [(ngModel)]="message" (focus)="onFocus()">
                <button mat-stroked-button color="primary" (click)="addPost()" class="publish">Publicar</button>
            </form>
        </div>
        <div class="icons" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="image" fxLayoutAlign="space-between">
                <img src="../../../../assets/imagem.png">
            </div>
            <div class="gif" fxLayoutAlign="space-between">
                <img src="../../../../assets/gif.png" (click)="openDialog()">
            </div>
            <div class="emoji" fxLayoutAlign="space-between">
                <img src="../../../../assets/sorriso.png" (click)="toggleEmojiPicker()">
            </div>
            <br>
        </div>
    </div>
    <hr>
    <emoji-mart class="emoji-mart" set="twitter" *ngIf="showEmojiPicker" (emojiSelect)="addEmoji($event)"
        title="Pick your emoji..."></emoji-mart>
    <ul class="list-group">
        <span class="list-group-item">
            <h3>{{publics}}</h3>
        </span>
    </ul>
</div>