.example-card {
    max-width: 80px;
    max-height: 100px;
    margin-bottom: 8px;

    img {
        max-width: 50px;
        max-height: 50px;
    }

    background: black;
}


.container {
    margin-left: 20%;
}