<mat-toolbar class="navbar" fxLayoutAlign="center center">
  <div class="search">
    <input class="input-search" type="text" placeholder="Pesquisar GIF" [(ngModel)]="searchTerm"/>
    <button class="button-search" (click)="search()">Pesquisar</button>
  </div>
  <span class="spacer"></span>
  <div class="icon" fxLayoutAlign="end start">
    <mat-icon class="close" fxLayoutAlign="end start" (click)="close()">close</mat-icon>
  </div>
</mat-toolbar>

<div class="result-panel">
  <div
    *ngFor="let result of giphyService.searchResults$ | async" class="result-search">
    <img [src]="result.images.fixed_width.url" [alt]="result.title" />
  </div>
</div>
