

    mat-card {
        background: #62aeff;
    }

    .section {
        width: 100%;
        height: 100%;
        display: flex;
        background:#013b7adf;

    }
    
    .division-left {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
    }
    
    .division-left-content {
        width: 70%;
        height: 70%;
        margin: 50px;
        display:flex;
        justify-content:flex-start;
        
    }
    
    
    .division-right {
        width: 70%;
        height: 70%;
        display: flex;
        justify-content: flex-end;
    }
    
      
    .division-right-content {
        width: 100%;
        height: 100%;
        display: flex;
        // justify-content: space-between;
    }
    
