<header>
    <div class="nav container">
      {{title  }}     
      <div class="logo">
        <!--<img src="./img/download (1).jpg" alt="">-->
        <h1 class="logo">Out<span>flow</span></h1>
       </div>
       <!--menu icon-->
       <input type="checkbox" name="" id="menu">
       <label for="menu" ><i class="fa-solid fa-bars" id="menu-icon"></i></label>
       <!--navlist-->
       <ul class="navbar">
         <li><a href="#home">Página inicial</a></li>
         <li><a href="#about">Sobre Nós</a></li>
         <li><a href="#contato">Contato</a></li>
       </ul>
       <!-- form button-->
       <a href="#formulario" class="btn-form">Entre</a>
    </div>
</header>