<mat-toolbar fxLayoutAlign="space-between center">
  <h1 class="logo">Out<span>flow</span></h1>
  <div>
    <button mat-button class="menu-button" >
      <span>Página inicial</span>
    </button>  
    <button href="#quem" mat-button class="menu-button" >
      <span>Sobre Nós</span>
    </button>  
    <button mat-button class="menu-button" >
      <span>Contato</span>
    </button>  
    <button (click)="login()" mat-flat-button class="menu-button-login" >
      <mat-icon>login</mat-icon>
      <span>Entre</span>
    </button>  

  </div>
</mat-toolbar>